<div class="jumbtron">
  <app-layout></app-layout>
  <div class="row" >
    <div class="col-md-2" >
      <app-sidebar></app-sidebar>
    </div>
    <!--<div class="col-md-8">-->
      <div class="col-md-10" style="margin-top: 90px">
        <h2> Prescription Details</h2>
        <button class="btn btn-danger" (click)="addPrescription()"> Add Prescription</button>
        <table class="table table-striped">
          <thead>
          <tr>
            <th scope="col">Doctor</th>
            <th scope="col">Patient</th>
            <th scope="col">Medications</th>
            <th scope="col">Datum</th>
          </tr>
          </thead>
          <tbody>
          <tr *ngFor="let pres of service.prescriptionList">
            <td >{{pres.doctor.bsnNumber}} - {{pres.doctor.firstName}} {{pres.doctor.lastName}}</td>
            <td >{{pres.patient.bsnNumber}} - {{pres.patient.firstName}} {{pres.patient.lastName}}</td>
            <td class="medicationList" >
              <li *ngFor="let medication of pres.medications">{{medication.name}}</li>
            </td>
            <td >{{pres.date | date:'dd-MM-yyyy'}}</td>
            <td><button (click)="onDelete(pres.prescriptionId)" class="btn btn-sm btn-danger"> Delete</button>
              <button (click)="editForm(pres)" style="margin-left: 10px;" class="btn btn-info"> Edit</button></td>
            <!--<td><button (click)="onDelete(pres.prescriptionId)" class="">X</button></td>-->
          </tr>
          </tbody>
        </table>
      </div>

    <!--</div>-->
  </div>
</div>

